-Apriori algorithm developed by R Agrawal and R Srikant
- Shows how objects are associated with each other
- Objective: to generate an associated with

In [26]:
import pandas as pd

Example:
    minimum support = 50%
    threshold confidence = 70%

In [53]:
#create a dataset
df = pd.DataFrame(
    {
        "Transaction ID": ["T100", "T200", "T300", "T400"],
        "Items": ["Bread, Egg, Milk", "Butter, Egg, Cookies", "Bread, Butter, Egg, Cookies", "Butter, Cookies"],
    })

df

  Transaction ID                        Items
0           T100             Bread, Egg, Milk
1           T200         Butter, Egg, Cookies
2           T300  Bread, Butter, Egg, Cookies
3           T400              Butter, Cookies

# Iteration 1

In [57]:
df = pd.DataFrame(
    {
        "ItemSet": ["Bread", "Butter", "Egg", "Milk","Cookies" ],
        "Support": [2,3,3,1,3],
        
        "MinSupport": ["1/4 = 25%", "3/4 = 75%", "3/4 = 75%", "1/4 = 25%","3/4 = 75%" ],
    })

df

   ItemSet  Support MinSupport
0    Bread        2  1/4 = 25%
1   Butter        3  3/4 = 75%
2      Egg        3  3/4 = 75%
3     Milk        1  1/4 = 25%
4  Cookies        3  3/4 = 75%

In [58]:
#C1 --> F1
df = df.drop(labels=[0,3], axis=0)
df

   ItemSet  Support MinSupport
1   Butter        3  3/4 = 75%
2      Egg        3  3/4 = 75%
4  Cookies        3  3/4 = 75%

# Iteration 2

From Pairs: 
(Bread, Butter, Egg, Cookies) = (Bread, Butter), (Bread, Egg), (Bread, Cookies),
(Butter, Egg), (Butter, Cookies), (Egg, Cookies)

In [59]:
df = pd.DataFrame(
    {
        "ItemSet": ["(Bread, Butter)", "(Bread, Egg)", "(Bread, Cookies)", "(Butter, Egg)","(Butter, Cookies)", "(Egg, Cookies)" ],
        "Support": [1,2,1,2,3,2],
        
        "MinSupport": ["1/4 = 25%", "2/4 = 50%", "1/4 = 25%", "2/4 = 50%", "3/4 = 75%", "2/4 = 50%" ],
    })
df

             ItemSet  Support MinSupport
0    (Bread, Butter)        1  1/4 = 25%
1       (Bread, Egg)        2  2/4 = 50%
2   (Bread, Cookies)        1  1/4 = 25%
3      (Butter, Egg)        2  2/4 = 50%
4  (Butter, Cookies)        3  3/4 = 75%
5     (Egg, Cookies)        2  2/4 = 50%

In [60]:
#C2 --> F2
df = df.drop(labels=[0,2], axis=0)
df

             ItemSet  Support MinSupport
1       (Bread, Egg)        2  2/4 = 50%
3      (Butter, Egg)        2  2/4 = 50%
4  (Butter, Cookies)        3  3/4 = 75%
5     (Egg, Cookies)        2  2/4 = 50%

# Iteration 3


ItemSet = (Bread, Egg), (Butter, Egg), (Butter,Cookies), (Egg, Cookies)

Form Triples = (Bread, Butter, Egg), (Bread, Butter, Cookies), (Bread, Egg, Cookies), (Butter, Egg, Cookies)

In [67]:
df = pd.DataFrame(
    {
        "ItemSet": ["(Bread, Butter, Egg)", "(Bread, Butter, Cookies)", "(Bread, Egg, Cookies)", "(Butter, Egg, Cookies)" ],
        "Support": [1, 1, 1, 2],
        
        "MinSupport": ["1/4 = 25%", "1/4= 25%", "1/4 = 25%", "2/4 =50%"],
    })
df

                    ItemSet  Support MinSupport
0      (Bread, Butter, Egg)        1  1/4 = 25%
1  (Bread, Butter, Cookies)        1   1/4= 25%
2     (Bread, Egg, Cookies)        1  1/4 = 25%
3    (Butter, Egg, Cookies)        2   2/4 =50%

In [68]:
#C3 --> F3
df = df.drop(labels= [0,1,2], axis=0)
df

                  ItemSet  Support MinSupport
3  (Butter, Egg, Cookies)        2   2/4 =50%

# association rule

ItemSet: (Butter, Egg, Cookies) = (Butter, Egg), (Butter, Cookies), (Egg, Cookies)

(Butter^Egg)-->Cookies - Confidence = supp(AUB)/supp(A) = supp((Butter, Egg)U(Cookies))/ supp(Butter, Egg) = 2/2 = 100%
(Butter^Egg)-->Egg - Confidence = supp(AUB)/supp(A) = supp((Butter, Egg)U(Cookies))/ supp(Butter, Egg) = 2/3 = 66%
(Butter^Egg)--> Butter - Confidence = supp(AUB)/supp(A) = supp((Butter, Egg)U(Cookies))/ supp(Butter, Egg) = 2/2 = 100%
Cookies-->(Butter^Egg) - Confidence = supp(AUB)/Freq(A) = supp((Butter, Egg)U(Cookies))/ supp(Butter, Egg) = 2/3 = 66%
Egg-->(Butter^Egg) - Confidence = supp(AUB)/Freq(A) = supp((Butter, Egg)U(Cookies))/ supp(Butter, Egg) = 2/3 = 66%
Butter-->(Butter^Egg) - Confidence = supp(AUB)/Freq(A) = supp((Butter, Egg)U(Cookies))/ supp(Butter, Egg) = 2/3 = 66%

In [70]:
df = pd.DataFrame({
        "Association_Rules": ["(Butter, Egg)--> Cookies", "(Butter, Cookies)--> Egg", "(Egg, Cookies)--> Butter", 
        "Cookies--> (Butter, Egg)", "Egg--> (Butter, Cookies)", "Butter--> (Egg, Cookies)"],
        "Support": [2, 2, 2, 2, 2, 2],
        "Confidence": ["2/2 =100% ", "2/3 = 66%", "2/2 = 100%", "2/3 = 66%", "2/3 = 66%", "2/3 = 66%" ] , })
df

          Association_Rules  Support  Confidence
0  (Butter, Egg)--> Cookies        2  2/2 =100%
1  (Butter, Cookies)--> Egg        2   2/3 = 66%
2  (Egg, Cookies)--> Butter        2  2/2 = 100%
3  Cookies--> (Butter, Egg)        2   2/3 = 66%
4  Egg--> (Butter, Cookies)        2   2/3 = 66%
5  Butter--> (Egg, Cookies)        2   2/3 = 66%

In [71]:
df = df.drop(labels=[1,3,4,5], axis=0)
df

          Association_Rules  Support  Confidence
0  (Butter, Egg)--> Cookies        2  2/2 =100%
2  (Egg, Cookies)--> Butter        2  2/2 = 100%

(Butter, Egg)--> Cookies and (Egg, Cookies)--> butter are association Rules.